
.svg-cell {
  width: 50px;;
}
.topheader{
  margin: 25px;
}
canvas {
  display: block;
  vertical-align: bottom;
}


.cell {
  width: 100%;
  height: 100%;
  padding: 28px 0px;
  overflow: auto;
  background: #fff;
  border: 0;
  font-weight: 500;
  cursor: pointer;
}

.cell[aria-pressed=true] {
  background: #16325c;
  color: #fff;
  font-style: italic;
}